$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body, h1, h2, h3, h4, h5, h6 {font-family:"Tahoma",Helvetica, sans-serif;font-weight: 100}
.uppercase{text-transform: uppercase}
.bold{font-weight:600}
.huge{font-size:49px;}
.vertical-center{display:table}
.vertical-center *{display:table-cell;vertical-align:middle}
.nav-container{margin-bottom:50px}
.navbar-default, .navbar-default .navbar-collapse {font-weight:bold;background-color:#0099ff;border:none;}
.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a{color:white}
.navbar-default .navbar-toggle .icon-bar{background-color:black}
ul.nav a:hover, ul.nav a:focus, ul.nav a:active, .navbar-default a.navbar-brand:hover {color:#5d451f !important;transition:0.5s}
.main-container .background-image{background-repeat:no-repeat;background-image:url('img/signup.jpg');background-size:cover;background-position:top center;height:600px;}
@media (max-width: 800px) {.background-image{height:400px}}
.signup-image{float:left;}
.text-center{text-align:center;}
.footer{font-size: 1em}
.text-shadow{text-shadow:1px 1px black}
.black{color:black}
.white{color:white}
.blue-color{color:rgb(51,102,204);}
.orange-color{color:rgb(255,153,51);}
.background-grey{background-color:rgba(204,204,204,0.7);}
.background-blue{background-color:rgb(51,102,204);}
.background-orange{background-color:rgb(255,153,51);}
.main-middle{height:30%}
.main-middle-inner{padding:2% 10%;}
.main-middle-inner span{font-size:24px;}
.main-middle-inner img{width:100%;}
.social-icons{width:25px;height:auto}
#signup{padding:2%;max-height:50%;margin-top:5%;}
.description{padding:5% 0%;}
@media (min-width: 768px) {.right{float:right;}}
@media (max-width: 767px) {#joinMail{max-height:75%;}}
.width80{width:80%}
.form-group{width:100%}
.text-align-right{text-align:right}
.width70{width:70%}
.width50{width:50%}
.inline-block{display:inline-block}

